<% if(data){ %>
<div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:15rem" >
                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <% if(data.fabric.images.length){ %>
                                                <img src="<%= data.func.getImage(data.fabric.images)  %>" alt="<%= data.fabric.name %>" height="500px" width="auto">
                                        <% }else{%>
                                                <img src="../website/client/images/blank.jpg" alt="<%= data.fabric.name %>" height="500px" width="auto">
                                        <% }%>
                                </div>
                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                        <div>
                                                <p style="font-size:1rem; margin-top: 1rem; font-family:regular">
                                                        <%= data.fabric.style[0].title %>
                                                </p>
                                        </div>
                                        <div>
                                                <p style="font-size:4rem; font-family:medium">
                                                        <% if(data.fabric.name){ %>
                                                                <%= data.fabric.name %>
                                                        <% }%>
                                               </p>
                                        </div>
                                        <div>
                                                <p style="font-size:1rem; font-family:regular">
                                                        <% if(data.fabric.description){ %>
                                                                <%= data.fabric.description %>
                                                        <% } %>
                                                </p>
                                        </div>
                                        <div>
                                                <p style="font-size:2rem; font-family:medium">
                                                        <% if(data.fabric.features){ %>
                                                                ₹ <%= data.fabric.features.price %>
                                                        <% } %>         
                                                </p>
                                        </div>
                                        <button type="button" class="btn btn-primary btn-lg active" style="background-color: #f57636; border-radius:0; border:none; height:60px; width:200px; margin-top:30px;">Book Now</button>
                                </div>
                        </div>
                </div>
        </div>
</div>

<% } %>